{% extends 'base.html' %} {% block content %}
<div class="content-sections">
    {% for post in posts %}
    <article class="media content-section">
        <img class="article-img rounded" src="{{ url_for('static', filename='profile_pics/' + post['author']['image_name']) }}" alt="Profile Pic">
        <div class="media-body">
            <div class="article-metadata border-bottom">
                <a class="mr-2" href="#">{{ post['author']['username'] }}</a>
                <small class="text-muted">{{ post['date_posted'].strftime("%Y-%m-%d") }}</small>
            </div>
            <h1 style="font-size: 6vh;"><a class="article-title" href="{{ url_for('posts.post', post_id=post['_id'])}}">{{ post['title'] }}</a></h1>
            <p class="article-content">{{ post['content'] }}</p>
        </div>
    </article>
    {% endfor %}
</div>
{% endblock content %}